/****************************************************************************************
[ CSS Structure ]

1. Style general
2. Partie barre de navigation
3. Partie Accueil
4. Les transitions
5. Partie A propos
6. Partie CV 
7. Partie Competences
8. Partie Portfolio
9. Partie Contact 
10. Partie Footer

/****************************************************************************************/


/*------------ 1. General -----------*/

body{
    background: rgb(29,29,29);
    color: blanchedalmond;
    margin: 0;
    padding: 0;
    font-family: 'Ibarra Real Nova', serif;
}

a{
    text-decoration: none;
}
h2{
    color: #4A2CFF;
    font-size: 3.2rem;
    padding-left: 15%;
    padding-top: 5%;
    margin-block-start:0;
}
li{
    list-style: none;
}
#propos, #CV{
    position: relative;
    z-index: 3;
    background-color: rgb(29,29,29);
    height: 800px;
}

/*-------- 2. Partie barre de navigation --------*/
#langues {
 position: absolute;
 right: 40px;
 padding-top: 15px;
}

header{
    background: rgb(74, 44, 255);
    height: 60px;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1000; 
}

ul#menu>li>a{
    color:white;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}
#sousmenu{
   background-color: rgb(43,43,43);
   padding:0;
   margin-top: 10px;
   margin-left: -25px;
}

#sousmenu li{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 4%;
    text-align: center;
    -webkit-transition-property: all;
	-webkit-transition-duration: .8s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}
#sousmenu li a{
    padding: 0 40px;
    font-size: 20px;
    color: white;
}

#sousmenu li:hover{
    background:rgb(74, 44, 255) ;
}

/****------------------- Partie Contenu --------------****/
/*------------- 3. Partie Accueil --------*/

canvas {
    position: absolute;
    z-index: 1;
    background-color: rgb(29,29,29); 
    width: 100%; 
   
}

#accueil h1,#accueil div{
    text-align: right;
    margin-right: 15%;
    position: relative;
    z-index: 50;
}
#accueil div{
    padding-bottom: 10%;
}
#accueil h1{
    padding-top: 5%;
    font-family: 'Mystery Quest', cursive;
    color:#4A2CFF;
    letter-spacing: 4px;
    font-size: 6rem;
    line-height: 150%;
}
#accueil h1+h1{
    font-family: 'Mystery Quest', cursive;
    color: blanchedalmond;
    padding-top: 3%;
    letter-spacing: 5px;
    font-size: 3.2rem;
    margin-bottom: 20vh;
}

#show a{
    font-size: 1.4rem;
    padding: 20px;
    border: solid 1px #FFDD2E;
    outline: none;
    color:#FFDD2E;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#show a:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -8px;
    left:-8px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#show a:hover:before {
    opacity: 1;
}

#show a:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

 
  /*------------- 4. Les transitions -----------*/

 #transition1,#transition2,#transition3,#transition4,#transition5{
     width: 100%;
     height: 100px;
     background: url("../Images/transition.png");
     position: relative;
     z-index: 3;
     clear: both;
 }

 /*------------- 5. Partie A propos -----------*/

#propos>p{
    font-size: 1.3rem;
    text-align: justify;
    margin: 5% 15%;
    line-height: 180%;
    font-family: Arial, Helvetica, sans-serif;
}
#propos div{
    text-align: center;
    margin-bottom: 5%;
}
#propos div a:first-child{
    padding: 10px;
    border: solid 2px #FFDD2E;
    color:#FFDD2E;
    font-size: 1.1rem;
    font-weight: bold;
}
#propos div a:hover:first-child{
    color:black;
    background-color:#FFDD2E;
}
#propos div:last-child{
    font-size: 1.1rem; 
}
#propos div div{
    float: left;
    margin-left: 15%;
}

/*------------------ 6. Partie CV --------------*/

#container {
    margin: auto 13%;
}
#container h4{
    margin-bottom: 0;
    font-size: 1.1rem;
}
#container p{
    margin-top: 0;
    padding-bottom: 1%;
}
#right-content, #left-content {
    float: left;
	display:block;
	width:45%;
    padding:1% 2%;
    font-family: Arial, Helvetica, sans-serif;
}
#right-content{
    border-left:5px dotted #666;
}
#left-content {
	text-align:left;
}
#right-content h3{
    color:#FFDD2E;
    padding: 1%;
}
#left-content h3{
    color: #4A2CFF;
    padding: 1%;
}
#right-content>h3{
    border-bottom: solid #FFDD2E 2px;
    font-size: 1.5rem;
}
#left-content>h3{
    border-bottom: solid #4A2CFF 2px;
    font-size: 1.5rem;
}
.diplome, .exp{
    background: rgb(43,43,43);
    
}

/*------------- 7. Partie Competences --------*/
#Competences{
    position: relative;
    z-index: 3;
    background-color: rgb(29,29,29);
}
#Competences p{
    padding-left: 15%;
    font-size: 1.5rem;
}
#prog{
    margin: 5% 15%;
}
#prog div:first-child{
    border: solid 1px rgba(255, 255, 255, 0.644);
    height: 30px;
  }
#prog>div>div{
    height: 100%; 
    background: #4A2CFF;
    color: white;
    text-align: right;
    font-weight: bold;
  }
#prog>div>span{
    padding:2%;
} 
#perso{
    text-align: center;
    font-weight: bolder;
    font-size: 1.6rem;
    background: rgb(43,43,43);
    border: solid 1px rgba(255, 255, 255, 0.644);
    padding:1%;
    margin:5% 15%;
}

/*------------- 8. Partie Portfolio -----------*/
#Portfolio {
    margin-bottom: 10%; 
}

#miniCreas{
    text-align: center;
}
#miniCreas img{
    border: #ccc 5px solid;
    max-width: 100%;
    height: auto;
}
#Portfolio>p {
    padding-left: 15%;
    font-size: 1.5rem;
}

#miniCreas figure{
    display: inline-block;
    min-width: 25%;
    margin-bottom: 1%;
}
#miniCreas figcaption{
    padding-top: 102px;
    width: 510px;
    background-color: rgb(58, 57, 57) ;
    border-radius: 50%;
}
#miniCreas figcaption h3{
    font-size: 1.8rem;
    font-weight: bolder;
}
#miniCreas figcaption a{
    color: #FFDD2E;
    font-size: 1.1rem;
}
#miniCreas figcaption a:hover{
    text-decoration: underline;
}

#miniCreas figure figcaption,
#miniCreas figure:hover img {
    display:none;
    
}
#miniCreas figure:hover figcaption {
    display:block
}


/*------------- 9. Partie Contact --------*/

#contact{
    background:rgb(43,43,43);
    text-align: center;
    width: 50%;
    font-size: 1.7rem;
    color:white;
    border: 1px solid #ccc;
    margin: 0 auto;
}
#contact p:first-child{
    border-bottom: #ccc 1px solid;
    padding-bottom: 2%;
}
#contact a{
    color: whitesmoke;
}
#contact a:hover{
    color: #4A2CFF;
}
form{
    padding: 16px;
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 10%; 
    width: 35%;
}
form p{
    color:red;
    text-align: center;
    font-size: 1.2rem;;
}
input,textarea{
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: rgb(58, 57, 57);
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: whitesmoke;
    font-size: 1.1rem;
}
button{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
    border: 2px solid #FFDD2E;
    background: rgb(43,43,43);	
    color:#FFDD2E;
    font-size: 1rem;
    letter-spacing: 0.2rem ;
    cursor: pointer;
}
button:hover{
    background:#FFDD2E ;
    color: black;
    font-weight: bold;
}


/*------------- 10. Partie Footer --------*/
footer{
    background: black;
    height: 120px;
}
footer a{
    color: blanchedalmond;
}

#copyright{
    height: 120px;
    text-align: center;
}
#copyright p{
    padding-top: 50px;
}

#fleche{
    text-align: center;
    float: right;
}

